h1 {
    color:goldenrod;
font-family:'Courier New', Courier, monospace;
font-size:larger;
font-weight:7px;
}


h2{
    color: indigo;
}
.header{
    background-color: green;
display:flex;
justify-content:space-between;
}
.grid{
display:flex;
flex-wrap:wrap;
justify-content:space-evenly;
}
.footer{
display:flex;
justify-content:flex-end;
}
body{
background-color:blue;
border-width:5px;
border:lightblue;

}